<div class="template">
  <div class="logo">
    <img
      src="static/images/logo-pccomponentes.svg"
      alt="PCComponentes Logo"
      style="height: 48px"
    />
  </div>
  <div class="categorias">
    <button class="pc-categorias-btn">
      <span class="pc-categorias-icon"
        ><svg
          class="icon-module_icon__Cn42w icon-module_big__8nlaM"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          enable-background="new 0 0 24 24"
        >
          <path
            d="M22 5H2V7H22V5ZM2 11H22V13H2V11ZM2 17H22V19H2V17Z"
          ></path></svg
      ></span>
      <span class="pc-categorias-text">Todas las categorías</span>
    </button>
  </div>
  <div class="search">
    <span class="pc-catalogo-select">
      Todo el catálogo
      <img
        class="dropdown-icon"
        src="static/images/dropdown-svgrepo-com.svg"
        alt="Dropdown Icon"
      />
    </span>
    <input type="text" placeholder="Buscar" class="pc-search-input" />
    <button type="submit" class="pc-search-btn">🔍</button>
  </div>
  <div class="acciones">
    <button class="pc-ia-btn">✨ Buscar con IA</button>
    <a href="#" class="pc-user">👤 Mi cuenta</a>
    <a href="#" class="pc-cart"
      >🛒 Mi cesta <span class="pc-cart-count">0</span></a
    >
  </div>

  <nav class="breadcrumb">
    <a class="" href="#">Home</a>
    <img src="static/images/arrow.svg" alt="Breadcrumb Separator" />
    <a class="" href="#">Ordenadores</a>
    <img src="static/images/arrow.svg" alt="Breadcrumb Separator" />
    <a class="" href="#">Ordenadores Portátiles</a>
    <img src="static/images/arrow.svg" alt="Breadcrumb Separator" />
    <a class="" href="#">Portátiles</a>
  </nav>
  <article class="title-container">
    <h1>Portátiles</h1>
    <p>
      Exprime hasta la última hora del día con
      <strong>nuestros portátiles de las mejores marcas</strong>:
      <a href="#">HP</a>, <a href="#">Acer</a>, <a href="#">MSI</a>,
      <a href="#">Lenovo</a>, <a href="#">Dell</a>, <a href="#">Gigabyte</a>,
      <a href="#">LG</a>, <a href="#">Asus</a> y <a href="#">Macbook</a>. Visita
      nuestra sección de <a href="#">portátiles baratos</a>.
    </p>
  </article>
</div>
