@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
body {
  display: block;
  margin: 0;
  padding: 0;
}
body > * {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

:root {
  --color-brand-dark: #cc4d00;
  --color-brand-main: #ff6000;
  --color-brand-light: #ffa066;
  --color-brand-lighter: #ffd8c1;
  --color-brand-ultra-lighter: #ffeade;
  --color-brand-blue-dark: #090029;
  --color-brand-blue-main: #170453;
  --color-brand-blue-light: #51437e;
  --color-brand-blue-lighter: #c5c0d4;
  --color-secondary-dark: #005486;
  --color-secondary-main: #0069a7;
  --color-secondary-light: #cce1ed;
  --color-success-dark: #126805;
  --color-success-main: #118000;
  --color-success-light: #cfe5cc;
  --color-warning-dark: #cc870a;
  --color-warning-main: #ffa90d;
  --color-warning-light: #ffeecf;
  --color-danger-dark: #990014;
  --color-danger-main: #bf0019;
  --color-danger-light: #e599a3;
  --color-danger-lighter: #f7c5cb;
  --color-environment-percent40: #6e6e6e;
  --color-environment-percent35: #a6a6a6;
  --color-environment-percent20: #ccc;
  --color-environment-percent10: #e6e6e6;
  --color-environment-percent05: #f2f2f2;
  --color-black: #333;
  --color-white: #fff;
  --color-avatar-digit0: #4fb0b3;
  --color-avatar-digit1: #a90016;
  --color-avatar-digit2: #0069a7;
  --color-avatar-digit3: #107b00;
  --color-avatar-digit4: #ffa90d;
  --color-avatar-digit5: #ff6000;
  --color-avatar-digit6: #4fb363;
  --color-avatar-digit7: #b3884f;
  --color-avatar-digit8: #b34f94;
  --color-avatar-digit9: #7733b1;
  --color-chat-message-text: #888;
  --color-chat-message-client: #f2f2f2;
  --color-chat-message-atc: #f7e7cc;
  --color-chat-message-name: #444;
  --color-chat-form-button-wrapper-bg: #f2f2f2;
  --color-chat-form-button-wrapper-border: #dedede;
  --color-chat-form-button-text: #888;
  --color-chat-form-error: #ef4f4a;
  --color-chat-form-success: #5cb85c;
  --color-timeline-succeed: #107b00;
  --color-table-header: #d2d2d2;
  --color-table-readed-row: #eceeef;
  --color-table-text: #888;
  --color-table-title-text: #444;
  --spacing-0025: 0.125rem;
  --spacing-005: 0.25rem;
  --spacing-01: 0.5rem;
  --spacing-02: 1rem;
  --spacing-03: 1.5rem;
  --spacing-04: 2rem;
  --spacing-05: 2.5rem;
  --spacing-06: 3rem;
  --spacing-07: 3.5rem;
  --spacing-08: 4rem;
  --spacing-09: 4.5rem;
  --spacing-10: 5rem;
  --spacing-11: 5.5rem;
  --z-index-deep: -10;
  --z-index-base: 0;
  --z-index-default: 1;
  --z-index-masked: 100;
  --z-index-mask: 200;
  --z-index-sticky: 300;
  --z-index-header: 400;
  --z-index-toast: 500;
  --z-index-dropdown: 600;
  --z-index-overlay: 700;
  --z-index-menu: 750;
  --z-index-spinner: 800;
  --z-index-modal: 900;
  --z-index-popup: 1000;
  --layout-grid-width: 101.5rem;
  --layout-grid-columns: 12;
  --header-height-desktop: 7.625rem;
  --header-height-top-desktop: 5.0625rem;
  --header-height-bottom-desktop: 2.5625rem;
  --header-height-simple: 3rem;
  --header-checkout-desktop: 7rem;
  --header-checkout-simple: 3rem;
  --font-family-global: open sans, open-sans, sans-serif;
  --font-body1-size: 1.0625rem;
  --font-body1-line-height: 1.5rem;
  --font-body1-letter-spacing: normal;
  --font-body2-size: 0.875rem;
  --font-body2-line-height: 1.25rem;
  --font-body2-letter-spacing: normal;
  --font-caption-size: 0.75rem;
  --font-caption-line-height: 1rem;
  --font-caption-letter-spacing: 0.025rem;
  --font-display-size: 3rem;
  --font-display-line-height: 4.063rem;
  --font-display-letter-spacing: -0.031rem;
  --font-h1-size: 1.8125rem;
  --font-h1-line-height: 2.5rem;
  --font-h2-size: 1.5rem;
  --font-h2-line-height: 2rem;
  --font-h3-size: 1.25rem;
  --font-h3-line-height: 1.75rem;
  --font-h4-size: 1.0625rem;
  --font-h4-line-height: 1.5rem;
  --font-h5-size: 0.875rem;
  --font-h5-line-height: 1.25rem;
  --font-h6-size: 0.75rem;
  --font-h6-line-height: 1rem;
  --font-table-size: 1rem;
  --font-chat-family: open sans, arial, sans-serif;
  --font-chat-size: 1rem;
  --font-chat-line-height: 1.5;
  --font-chat-message-name-weight: 700;
  --font-chat-message-date-size: 0.75rem;
  --font-avatar-family: montserrat, sans-serif;
  --font-avatar-size: 22px;
  --breakpoint-tablet-portrait: 48em;
  --breakpoint-tablet-landscape: 62em;
  --breakpoint-desktop: 75em;
  --breakpoint-desktop-large: 97.5em;
  --shadow-z000: 0 0 1px 0 #44444440, 0 2px 6px -2px #44444440;
  --shadow-z100: 0 0 1px 0 #44444440, 0 2px 6px -2px #44444440;
  --shadow-z200: 0 0 1px 0 #44444440, 0 12px 24px -6px #44444440;
  --elevation-depth08: 0 0.5rem 0.625rem #00000024,
    0 0.1875rem 0.875rem #0000001f;
  --elevation-depth16: 0 1rem 1.5rem #00000024, 0 0.375rem 5rem #0000001f;
  --elevation-focus: 0 0 0.25rem #0069a7;
}

.template {
  display: grid;
  grid-template-columns: auto auto 1fr 1fr;
  grid-template-areas:
    "logo categorias search acciones"
    "breadcrumb breadcrumb breadcrumb breadcrumb"
    "title-container title-container title-container title-container";
  align-items: center;
  gap: 0; /* Sin espacio entre logo y categorías */
  /* border: 1px solid #444;
  padding: 0 1rem; */
  background: #fff;
}

a,
a:visited {
  cursor: pointer;
  color: var(--color-black);
}

@media (max-width: 768px) {
}

@media (max-width: 991px) {
}
